body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex; /* menú lateral + contenedor derecho */
    background-color: antiquewhite;
}

/* Menú lateral */
.menu_lateral {
    width: 15%;
    background-color: #a1ebe7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.menu_lateral ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu_lateral li {
    margin: 10px 0;
    text-align: center;
}

.menu_lateral a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
}

.contenedor {
    flex: 1; 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.col-izq {
    background-color: lightblue;
    text-align: center;
    width: 100%;
    height: 30%;
}

.col-central {
    background-color: lightgreen;
    text-align: center;
    width: 100%;
    flex: 1;
}

.col-der {
    background-color: lightyellow;
    text-align: center;
    width: 100%;
    height: 20%;
}

